{
  "slug": [[ plugin_slug | tojson ]],
  "preset": [[ preset | tojson ]],
  "preferences": [[ preferences | tojson ]],
  "identifier": [[ plugin_identifier | tojson ]],
  "hostTarget": "es2019",
  "uiTarget": "safari13",
  "docsProfile": [[ docs_profile | tojson ]],
  "hooks": [[ hooks | tojson ]]
}
